:root {
  /* Colors */
  --primary-color-light: #21201e;
  --secondary-color-light: #fea609;
  --accent-color: #fff;

  /* Fonts */
  --title-font: "Poppins", sans-serif;
  --body-font: "Roboto", sans-serif;

  /* Font Sizes */
  --hero-title: 4.6875rem;
  --hero-title-2: 4.0625rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --large-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --icon-size: 2.1875rem;
}

@media screen and (max-width: 1024px) {
  :root {
    /* Font Sizes */
    --hero-title: 4rem;
    --hero-title-2: 3.7rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --large-font-size: 0.9rem;
    --normal-font-size: 0.775rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --icon-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* Font Sizes */
    --hero-title: 3rem;
    --hero-title-2: 2.7rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --large-font-size: 0.9rem;
    --normal-font-size: 0.775rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --icon-size: 1.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

/* Classes */
.flex {
  display: flex;
}

.container {
  min-height: 60vh;
  max-width: 60vw;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  /* background-color: #fff; */
}

.btn {
  color: var(--secondary-color-light);
  font-size: var(--normal-font-size);
  background-color: var(--primary-color-light);
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color-light);
  transition: 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color-light);
  color: var(--primary-color-light);
}

body {
  background-color: var(--primary-color-light);
  color: var(--accent-color);
}

h1,
h2,
span {
  font-family: var(--title-font);
}

/* Hamburger icon */
#menu_checkbox {
  display: none;
}

#menu-hamburger {
  display: none;
}

label {
  /* position: absolute; */
  top: 50%;
  right: 0;
  left: 0;
  margin: 35px auto;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
}

label div {
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
    0.3s ease background-color;
}

label div:first-child {
  width: 22px;
}

label div:nth-child(2) {
  width: 15px;
}

label div:last-child {
  width: 30px;
  margin-bottom: 0;
}

#menu_checkbox:checked + label {
  transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: var(--secondary-color-light);
}

/* Navbar */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--primary-color-light);
  transition: all 0.3s ease-in-out;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  backdrop-filter: blur(0.8);
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  font: var(--title-font);
}

li,
a {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: var(--accent-color);
}

nav ul li {
  font-size: var(--large-font-size);
  margin: 0 5px;
}

ul li a {
  transition: 0.3s ease 0s;
}

ul li a:hover {
  color: var(--secondary-color-light);
}

.logo {
  cursor: default;
  color: var(--accent-color);
  transition: 0.2s;
}

.logo:hover {
  text-decoration: underline;
  color: var(--secondary-color-light);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 90px;
  }

  nav ul li {
    padding: 30px;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-hamburger {
    display: block;
    position: absolute;
    top: 6%;
    left: 80%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-list {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}

/* Home Page */
.hero {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#hero-container {
  min-height: 60vh;
  max-width: 70vw;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.hero-intro {
  border-left: 3px solid var(--secondary-color-light);
  padding: 30px;
}

.hero-intro h1 {
  font-size: var(--hero-title);
  color: var(--secondary-color-light);
  width: fit-content;
}

.hero-intro h2 {
  font-size: var(--hero-title-2);
  color: var(--secondary-color-light);
  width: fit-content;
  position: relative;
  right: 3px;
}

.hero-intro p {
  color: var(--accent-color);
  font-size: var(--large-font-size);
}

/* .line {
  position: absolute;
  top: 5%;
  left: 1%;
  height: 500px;
  border-left: 3px solid var(--secondary-color-light);
} */

#hero-desc {
  color: var(--accent-color);
  width: 450px;
  font-size: var(--large-font-size);
  margin-top: 15px;
}

.icons {
  margin-top: 20px;
}
.icons ul {
  width: fit-content;
}

.icons ul li {
  position: relative;
  right: 20px;
}

.icons ul li .fa {
  font-size: var(--icon-size);
  color: var(--text-color-light);
}

.icons ul li a:hover .fa {
  color: var(--secondary-color-light);
}

.icons ul li a {
  position: relative;
  display: block;
  text-align: center;
  transition: 0.4s;
}

.icons ul li a:hover {
  transform: translate(0, -10px);
}

/* About */
.about {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-info {
  width: fit-content;
  padding: 10px;
}

.about h2 {
  margin-bottom: 30px;
  margin-left: 2px;
  color: var(--accent-color);
  font-size: var(--h1-font-size);
}

.about-info span {
  color: var(--secondary-color-light);
  font-size: var(--h1-font-size);
}

.about-info p {
  font-size: var(--large-font-size);
  padding: 3px;
}

#skills {
  color: var(--secondary-color-light);
  font-size: var(--large-font-size);
}

/* Projects */
.projects {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contact */
.contact {
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

#contact-container {
  min-height: 40vh;
}

.contact-info {
  max-width: 600px;
  font-size: var(--large-font-size);
  padding: 10px;
  text-align: center;
}

.contact-info h1 {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 20px;
}

.contact-info span {
  color: var(--secondary-color-light);
  font-size: var(--h1-font-size);
}

.email {
  margin-top: 50px;
}

.email a {
  font-size: var(--large-font-size);
  padding: 10px 15px;
}

/* footer */
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

