:root {
    /* Colors */
  --primary-color-light: #0a192f;
  --text-color-light: #8892b0;
  --highlight-color-light: #ccd6f6;
  --accent-color: #fff;

    /* Fonts */
  --title-font: "Poppins", sans-serif;
  --body-font: "Roboto", sans-serif;

    /* Font Sizes */
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* Font Sizes For Larger Screens */
@media screen and (min-width: 1450px) {
    :root {
        /* Font Sizes */
        --h1-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

/* Classes */
.flex {
  display: flex;
}

.container {
  min-height: 60vh;
  max-width: 60vw;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  /* background-color: #fff; */
}

.btn {
    color: var(--highlight-color-light);
    font-size: var(--normal-font-size);
    background-color: var(--primary-color-light);
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid var(--highlight-color-light);
    transition: 0.3s ease 0s;
    cursor: pointer;
  }

body {
  background-color: var(--primary-color-light);
}

/* Hamburger icon */
#menu-checkbox {
  display: none;
}

#menu-hamburger {
  display: none;
}

label {
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
}

label div {
  width: 6px;
  height: 6px;
  background-color: var(--text-color-light);
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
    0.3s ease background-color;
}

label div:first-child {
  width: 22px;
}

label div:nth-child(2) {
  width: 15px;
}

label div:last-child {
  width: 30px;
  margin-bottom: 0;
}

#menu-checkbox:checked + label {
  transform: translateY(-50%) rotateZ(-90deg);
}

#menu-checkbox:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: var(--accent-color);
}

/* Navbar */
nav {
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  font: var(--title-font);
}

li,
a {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: var(--text-color-light);
}

nav ul li {
  margin: 0 5px;
}

ul li a {
  transition: 0.3s ease 0s;
}

ul li a:hover {
  color: var(--highlight-color-light);
}

.logo {
  cursor: pointer;
  color: var(--accent-color);
}

.btn:hover {
  background-color: var(--highlight-color-light);
  color: var(--primary-color-light);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 90px;
  }

  nav ul li {
    padding: 30px;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-hamburger {
    display: block;
    position: absolute;
    top: 6%;
    left: 80%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-list {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}

/* Home Page */
.hero {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* .svg-container {
  max-width: 70%;
  max-height: 70%;
  background-color: blue;
}

.svg-container svg {
  min-width: 30vw;
} */

.hero-intro {
  /* background-color: red; */
}

.hero-intro h1 {
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    color: var(--text-color-light);
}

.hero-intro span {
    color: var(--highlight-color-light);
    opacity: 0.9;
}

.hero-intro p {
    color: var(--text-color-light);
}


