:root {
  /* Colors */
  --primary-color-light: #21201e;
  --secondary-color-light: #fea609;
  --accent-color: #fff;

  /* Fonts */
  --title-font: "Poppins", sans-serif;
  --body-font: "Roboto", sans-serif;

  /* Font Sizes */
  --hero-title: 4.6875rem;
  --hero-title-2: 4.0625rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --large-font-size: 1.1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --icon-size: 2.1875rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Classes */
.flex {
  display: flex;
}

.container {
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.btn {
  color: var(--secondary-color-light);
  font-size: var(--normal-font-size);
  background-color: var(--primary-color-light);
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color-light);
  transition: 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color-light);
  color: var(--primary-color-light);
}

body {
  background-color: var(--primary-color-light);
  color: var(--accent-color);
}

h1,
h2,
span {
  font-family: var(--title-font);
}

/* Hamburger icon */
#menu_checkbox {
  display: none;
}

#menu-hamburger {
  display: none;
}

label {
  top: 50%;
  right: 0;
  left: 0;
  margin: 35px auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

label div {
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
}

label div:first-child {
  width: 22px;
}

label div:nth-child(2) {
  width: 15px;
}

label div:last-child {
  width: 30px;
  margin-bottom: 0;
}

/* Navbar */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(33, 32, 30, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  font: var(--title-font);
}

li,
a {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: var(--accent-color);
}

nav ul li {
  font-size: var(--normal-font-size);
  margin: 0 5px;
}

ul li a {
  transition: 0.3s ease 0s;
}

ul li a:hover {
  color: var(--secondary-color-light);
}

.logo {
  cursor: default;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 90px;
  }

  nav ul li {
    padding: 35px;
    font-size: var(--h1-font-size);
  }

  nav ul button {
    scale: 1.5;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-hamburger {
    display: block;
    position: absolute;
    top: 6%;
    left: 80%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-list {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
    min-height: 100vh;
  }
}

/* Home Page */
.hero {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#hero-container {
  min-height: 60vh;
  max-width: 70vw;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.hero-intro {
  border-left: 3px solid var(--secondary-color-light);
  padding: 30px;
}

.hero-intro h1 {
  font-size: var(--hero-title);
  color: var(--secondary-color-light);
  width: fit-content;
}

.hero-intro h2 {
  font-size: var(--hero-title-2);
  color: var(--secondary-color-light);
  width: fit-content;
  position: relative;
  right: 3px;
}

.hero-intro p {
  color: var(--accent-color);
  font-size: var(--large-font-size);
}

.hero-intro span {
  color: var(--secondary-color-light);
}

#hero-desc {
  color: var(--accent-color);
  max-width: 450px;
  font-size: var(--large-font-size);
  margin-top: 15px;
}

.icons {
  margin-top: 20px;
}
.icons ul {
  width: fit-content;
}

.icons ul li {
  position: relative;
  right: 20px;
}

.icons ul li .fa {
  font-size: var(--icon-size);
  color: var(--text-color-light);
}

.icons ul li a:hover .fa {
  color: var(--secondary-color-light);
}

.icons ul li a {
  position: relative;
  display: block;
  text-align: center;
  transition: 0.4s;
}

.icons ul li a:hover {
  transform: translate(0, -10px);
}

/* About */
.about {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-info {
  min-width: auto;
  line-height: 1.5;
}

.about-info h2 {
  margin-bottom: 30px;
  margin-left: 2px;
  color: var(--accent-color);
  font-size: var(--h1-font-size);
}

.about-info span {
  color: var(--secondary-color-light);
  font-size: var(--h1-font-size);
}

.about-info p {
  font-size: var(--large-font-size);
  padding: 3px;
}

#skills {
  color: var(--secondary-color-light);
  font-size: var(--large-font-size);
}

.about-container {
  max-width: 800px;
}

/* Projects */
.projects {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color-light);
}

.card-list {
  margin: 0 auto;
  width: 780px;
  padding: 10px;
  height: auto;
  padding-top: 40px;
}

.card-list li {
  position: relative;
  list-style: none;
  background: var(--primary-color-light);
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 #0001;
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.card-list li:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 14px 0 #0005;
}

.card-list .card {
  overflow: hidden;
  display: block;
}

.card-list .card-image {
  float: left;
  overflow: hidden;
  margin-right: 20px;
}

#image1 {
  width: 280px;
  height: 210px;
}

.links {
  margin-top: 15px;
  float: left;
}

.links a {
  color: var(--secondary-color-light);
  cursor: pointer;
  transition: 0.3s;
  padding-left: 0;
}

.links a:hover {
  color: var(--accent-color);
}

.card-list .card-image .image {
  width: 280px;
  height: 250px;
  display: block;
  background-size: cover;
  background-position: center;
}

.card-list .meta-sission {
  position: relative;
  padding: 15px;
  display: block;
  height: 220px;
}

.card-list .meta-sission .head {
  display: flex;
  margin-bottom: 5px;
}

.card-list .meta-sission .head p {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color-light);
}

.card-list .card-body .title {
  min-height: fit-content;
  overflow: hidden;
  font-size: 24px;
  margin-bottom: 20px;
}

.card-list .card-body .card-desc {
  min-height: fit-content;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 13px;
}

.card-list .footer {
  display: block;
  font-size: 12px;
  margin-top: 30px;
  color: var(--secondary-color-light);
}

.card-list .footer .links {
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .card-list {
    width: 96%;
  }
  .card-list li:hover {
    transform: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 560px) {
  .card-list .card-image {
    float: none;
    margin-right: 0;
  }
  .card-list .card-image .image {
    width: 100%;
  }
}

/* Contact */
.contact {
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

#contact-container {
  min-height: 40vh;
}

.contact-info {
  max-width: 600px;
  font-size: var(--large-font-size);
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}

.contact-info h1 {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 20px;
}

.contact-info span {
  color: var(--secondary-color-light);
  font-size: var(--h1-font-size);
}

.email {
  margin-top: 50px;
}

.email a {
  font-size: var(--large-font-size);
  padding: 10px 15px;
}

/* footer */
footer {
  color: var(--primary-color-light);
  font-size: var(--large-font-size);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  background-color: var(--secondary-color-light);
}

@media screen and (min-width: 1441px) {
  :root {
    /* Font Sizes */
    --hero-title: 8rem;
    --hero-title-2: 7.7rem;
    --h1-font-size: 4.5rem;
    --large-font-size: 2rem;
    --normal-font-size: 1.7rem;
    --icon-size: 4.2rem;
  }

  nav ul li {
    margin: 0 25px;
  }

  #hero-desc {
    max-width: 800px;
  }

  .logo {
    font-size: var(--normal-font-size);
  }

  .about {
    min-height: 100vh;
  }

  .card-list {
    scale: 2;
  }

  .contact {
    min-height: 60vh;
  }

  .contact-info {
    max-width: 750px;
  }

  .about-container {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    /* Font Sizes */
    --hero-title: 4rem;
    --hero-title-2: 3.7rem;
    --h1-font-size: 2rem;
    --large-font-size: 0.9rem;
    --normal-font-size: 0.775rem;
    --icon-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* Font Sizes */
    --hero-title: 3rem;
    --hero-title-2: 2.7rem;
  }
}

@media screen and (max-width: 425px) {
  .hero-intro {
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  nav ul li {
    padding: 30px;
    font-size: var(--h2-font-size);
  }

  nav ul button {
    scale: 1;
  }
}

@media screen and (max-width: 320px) {
  .hero-intro {
    border: none;
  }
}

.scroll-none {
  overflow: hidden;
}
